ion-item{
    --background: #3880ff;
    --color: #fff;
}

ion-button{
    --background: #062f77;
}
ion-icon{
    float: left;
    font-size: 40px;
    margin-bottom:30px ;
}
ion-content{
    --background: url(../../assets/images/bg2.jpg);
    --background-repeat: no-repeat;
    --background-size: cover;  

    }